# Виртуальные окружения (всегда создаются локально)
.venv/
venv/
ENV/
env/

# Настройки PyCharm
.idea/

# Настройки VS Code
.vscode/

# Логи и временные файлы
*.log
.DS_Store

# Расширения для баз данных (если используете SQLite)
*.sqlite3
*.db